.table td {
  text-align: center;
  vertical-align: middle;
}
.table tr {
  text-align: center;
}
.table th{
    color: black;
}
.base-table{
    height: 800px;
    overflow: scroll;
}

thead{
   background-color: #f7dc8d;
    
}
.btn{
    margin-right: 10px;
    display: inline;
}
img{
    border: 1px solid #DDD;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    height: 100px;
}

/********************************************/

header{
 padding: 1rem 3rem;
  background-color: #582f09;
  padding-top: 20;
  display: flex;
}
#mytab{
  width: 90%;
  margin: 1rem auto;
}
.tab-content{
  width: 90%;
  margin: 3rem auto;
}
h1{
  font-size: 2rem;
  color: #ffbf00;
}
#container{
  padding: 2rem;
  width:90%;
  border: 1px solid #DDD;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  margin: 3rem auto;
}
.container{
}
#sidebar{
  width: 20%;
  color: #FFF;
}
.cat-link{
  display: block;
 
  margin-bottom: 10px;
}
.formAddLable{
  width: 150px;
}

lable{
  margin: 0 5px;
}